.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button2 {
  background-color: #880044;
  color: white;
  border-radius: 8px;
  padding: 12px 24px;
}

/* App.css */
.white-text {
  color: white !important; /* Usamos !important solo en la clase */
}

.button-small-width {
  width: auto !important; /* Ajusta al contenido */
  padding: 4px 12px !important;
  font-size: 12px !important;
  height: auto !important;
}

.button-custom-width {
  width: 150px !important; /* Ancho específico */
  padding: 8px 12px !important;
  font-size: 12px !important;
  height: auto !important;
}